---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";

import Content from "../components/Content.astro";
import NavPusher from "../components/NavPusher.astro";
import Button from "../components/Button.astro";
import InviteCard from "../components/InviteCard.tsx";

const thayseAndNoah = "/images/thayse-noah-nyc.jpg";

const date = new Date("May 17, 2025 14:30:00");

import bgImage from "../images/PWT&N-96-cut-2.png";
---

<Layout
  title="Thayse & Noah - May 17, 2025"
  description="“Love bears all things, believes all things, hopes all things, endures all things.” - 1 Corinthians 13:7"
>
  <main>
    <section class="relative">
      <Image
        src={bgImage}
        alt="A beautiful couple in the mountains"
        class="fixed h-full max-h-[1000px] w-full max-w-[1920px] animate-fadeInImage object-cover opacity-85"
        style={{
          objectPosition: "60% 60%",
        }}
      />
      <!-- 
      <img
        src={thayseAndNoah}
        alt=""
        class="fixed h-full w-full max-w-[1920px] animate-fadeInImage bg-center object-cover opacity-85"
        style={{ objectPosition: "50% 50%" }}
      /> -->
      <Content>
        <!-- <NavPusher /> -->
        <div class="flex content-center">
          <InviteCard client:load />
        </div>
      </Content>
    </section>
    <div></div>
  </main>
</Layout>
