---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";

import Content from "../components/Content.astro";
import NavPusher from "../components/NavPusher.astro";
import Button from "../components/Button.astro";
import InviteCard from "../components/InviteCard.astro";

import thayseAndNoah from "../images/thayse-noah-nyc-resized.jpg";

const hrefBrazil = "https://noivos.casar.com/thayse-e-noah";
const hrefUSA = "";

const date = new Date("May 17, 2025 14:30:00");

const ceremony = {
  name: "Capela do Divino Espírito",
  address: "Praça Getúlio Vargas, 212 - Centro, Florianópolis - SC, Brazil",
};

const reception = {
  name: "Lira Tênis Clube",
  address: "Rua Felipe Schmidt, 636 - Centro, Florianópolis - SC, Brazil",
};
---

<Layout title="Thayse & Noah - May 17, 2025" description="">
  <main>
    <section class="relative">
      <Image
        src={thayseAndNoah}
        alt=""
        class="animate-fadeInImage fixed h-full w-full max-w-[1920px] bg-center object-cover opacity-85"
        style={{ objectPosition: "50% 50%" }}
      />
      <Content>
        <NavPusher />
        <div class="flex content-center">
          <InviteCard />
        </div>
      </Content>
    </section>
    <div></div>
  </main>
</Layout>
