---
import Layout from "../layouts/Layout.astro";

const processingTimeForPassport = "3 months";
---

<Layout title="More Info | Thayse & Noah">
  <main class="mx-auto max-w-screen-lg">
    <div class="text-thay-green-900 flex flex-col gap-8 px-4 py-20">
      <h1 class="text-4xl font-black md:text-5xl">More Info</h1>
      <div class="flex flex-col gap-8">
        <div class="flex flex-col gap-4">
          <h2 class="text-2xl font-black">What You Need</h2>
          <ol class="flex max-w-screen-sm flex-col gap-8">
            <li>
              <h3 class="text-lg font-black">1. Passport</h3>
              <p class="">
                You'll need your passport to travel internationally and to apply
                for your visa. If you don't have one, get to it ASAP! 😃
              </p>
              <div class="mt-3 flex flex-col gap-2 text-sm">
                <div>
                  <h4 class="font-bold">Deadline:</h4>
                  <p class="text-thay-green-800">January 17, 2025</p>
                </div>
                <div>
                  <h4 class="font-bold">Resources:</h4>
                  <a
                    href="https://travel.state.gov/content/travel/en/passports.html"
                    class="text-thay-green-800 hover:text-thay-green-900 underline transition duration-300 ease-in-out"
                    >Get or replace your passport</a
                  >
                </div>
              </div>
            </li>
            <li>
              <h3 class="text-lg font-black">2. Flight Tickets</h3>
              <p class="">
                After flights and layovers, the travel day usually ends up
                taking the whole day. So we recommend having a recovery day
                before the wedding. We're inviting you to explore Brazil with us
                in the 3 days following the wedding.
                <br /><br />
                <span class="font-bold">Vacation Length</span>
                <br />
                <span> May 14, 2025 (Wed) - May 21, 2025 (Wed) </span>
                <br /><br />
                <span class="font-bold">Minimum Length</span>
                <br />
                <span> May 15, 2025 (Thu) - May 19, 2025 (Sun) </span>
              </p>
              <div class="mt-3 flex flex-col gap-2 text-sm">
                <div>
                  <h4 class="font-bold">Deadline:</h4>
                  <p class="text-thay-green-800">February 17, 2025</p>
                </div>
                <div>
                  <h4 class="font-bold">Resources:</h4>
                  <a
                    href=""
                    class="text-thay-green-800 hover:text-thay-green-900 underline transition duration-300 ease-in-out"
                  ></a>
                </div>
              </div>
            </li>
            <li>
              <h3 class="text-lg font-black">3. Hotel / Airbnb</h3>
              <p class="">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero
                molestiae maxime dicta doloremque ipsa culpa repellendus dolor
                unde sunt! Officiis temporibus optio sequi, velit doloribus id
                ipsa fuga iste labore.
              </p>
              <div class="mt-3 flex flex-col gap-2 text-sm">
                <div>
                  <h4 class="font-bold">Deadline:</h4>
                  <p class="text-thay-green-800">February 17, 2025</p>
                </div>
                <div>
                  <h4 class="font-bold">Resources:</h4>
                  <a
                    href=""
                    class="text-thay-green-800 hover:text-thay-green-900 underline transition duration-300 ease-in-out"
                  ></a>
                </div>
              </div>
            </li>
            <li>
              <h3 class="text-lg font-black">4. Travel Visa</h3>
              <p class="">
                Brazil now requires Americans to apply for a visa to visit.
                Fortunately this is all digital and shouldn't be too much of a
                pain. The visa is valid for 2 years after issuance date.
              </p>
              <div class="mt-3 flex flex-col gap-2 text-sm">
                <div>
                  <h4 class="font-bold">Deadline:</h4>
                  <p class="text-thay-green-800">March 17, 2025</p>
                </div>
                <div>
                  <h4 class="font-bold">Resources:</h4>
                  <a
                    href="https://brazil.vfsevisa.com/"
                    class="text-thay-green-800 hover:text-thay-green-900 underline transition duration-300 ease-in-out"
                    >Apply for your e-visa here</a
                  >
                </div>
              </div>
            </li>
          </ol>
        </div>
        <!-- <h2 class="text-2xl font-black">About The Trip</h2> -->
      </div>
    </div>
  </main>
</Layout>
