---
import Layout from "../layouts/Layout.astro";
import Content from "../components/Content.astro";
import PhotoUploader from "../components/PhotoUploader";
---

<Layout title="Share your photos with us!" description="">
  <main class="h-screen w-screen">
    <section class="py-20">
      <Content>
        <h1 class="mb-20 text-2xl font-bold">Share your photos with us!</h1>
        <PhotoUploader client:load />
      </Content>
    </section>
  </main>
</Layout>
