---
import Button from "./Button.astro";

const userLanguage = navigator.language;

const venues = [
  {
    event: "Ceremony",
    name: "Capela do Divino Espírito",
    address: "Praça Getúlio Vargas, 212 - Centro, Florianópolis - SC, Brazil",
  },
  {
    event: "Reception",
    name: "Lira Tênis Clube",
    address: "Rua Felipe Schmidt, 636 - Centro, Florianópolis - SC, Brazil",
  },
];
---

<div class="relative z-10 py-20">
  <div
    class="xs:p-8 max-w-lg bg-gradient-to-br from-white/90 via-white/100 to-white/70 px-4 py-8 duration-200 md:p-10"
  >
    <div
      class="xs:p-8 xs:border-2 border-b-2 border-t-2 border-white px-4 py-8 duration-200 md:p-10"
    >
      <p class="xs:text-4xl playfair mb-1 text-3xl font-black text-dark-2">
        May 17, 2025
      </p>
      <p class="text-dark-3 mb-8 text-lg uppercase tracking-widest">
        Saturday 2:30 PM
      </p>

      <div class="flex flex-col gap-4">
        {
          venues.map((venue) => {
            return (
              <div class="flex flex-col gap-1">
                <p class="text-dark-3 text-sm uppercase tracking-widest">
                  {venue.event}
                </p>
                <p class="xs:text-lg font-bold tracking-wider">{venue.name}</p>
                <p class="xs:text-base text-sm">{venue.address}</p>
              </div>
            );
          })
        }
      </div>

      <div class="mt-8 flex flex-col gap-4 font-bold">
        <!-- <div class="flex gap-4">
          <Button
            label="BR"
            styles="border-2 border-primary-500 text-primary-500 w-1/2 text-center hover:bg-primary-500 hover:text-white"
            href=""
          />
          <Button
            label="USA"
            styles="border-2 text-red-400 border-red-400 w-1/2 text-center hover:bg-red-400 hover:text-white"
            href=""
          />
        </div> -->
        <Button
          label="RSVP"
          styles="text-center hover:text-primary-500 border-2 border-primary-500 hover:bg-transparent bg-primary-500 text-white"
          href="https://noivos.casar.com/thayse-e-noah/#/rsvp"
        />
      </div>
    </div>
  </div>
</div>
